---
import type { LanguageCode } from "~/i18n/utils"

interface Props {
	t: (key: string) => string
	flexDirection?: string
	languageCode: LanguageCode
}

const { t, flexDirection = "row", languageCode } = Astro.props as Props
const basePath = `/${languageCode}/`
const links = [
	"auto-detailing",
	"services",
	"#pricing",
	"#location",
	"#contacts",
]
---

<ul class={`flex flex-${flexDirection} gap-4 overflow-x-auto max-w-full`}>
	{
		links.map((link) => {
			const key = link.startsWith("#") ? link.slice(1) : link
			const keyTranslation = key.replaceAll("-", "_")
			const href = link.startsWith("#") ? link : `${basePath}${link}`

			return (
				<li class="flex-shrink-0">
					<a
						href={href}
						class="group relative inline-block px-2 py-1  focus:outline-none focus:ring-2 focus:ring-hover-primary whitespace-nowrap text-text-primary"
					>
						<span class="relative z-10">
							{t("nav." + keyTranslation)}
						</span>

						<span class="absolute left-0 bottom-0 h-0.5 w-full bg-hover-primary origin-left scale-x-0 transition-transform duration-300 group-hover:scale-x-100" />
					</a>
				</li>
			)
		})
	}
</ul>

<script>
	import HandleMissingAnchorRedirects from "../../scripts/HandleMissingAnchorRedirects"

	HandleMissingAnchorRedirects()
</script>
