---
import Footer from "../../components/Footer.astro"
import HeroHeader from "../../components/HeroHeader.astro"
import IframeMap from "../../components/IframeMap.astro"
import NavigationBar from "../../components/NavigationBar.astro"
import ServiceCol from "../../components/ServiceCol.astro"
import { languageOptions } from "../../i18n/ui"
import {
	useServiceTranslations,
	useTranslations,
	type LanguageCode,
	type Service,
} from "../../i18n/utils"

import Layout from "../../layouts/Layout.astro"

export function getStaticPaths() {
	return Object.keys(languageOptions).map((lang) => ({ params: { lang } }))
}
const languageCode = Astro.params.lang as LanguageCode
const t = useTranslations(languageCode)
const serviceList = useServiceTranslations(languageCode) as unknown as Service[]
---

<Layout>
	<NavigationBar t={t} languageCode={languageCode} />
	<section class="mt-6 p-6 flex flex-col items-center gap-8 text-center">
		<HeroHeader t={t} />
		<ServiceCol serviceList={serviceList} t={t} />
	</section>

	<IframeMap />
	<Footer t={t} />
</Layout>
