---
import SocialLinks from "./SocialLinks.astro"
import LocationInfo from "./LocationInfo.astro"
import ContactInfo from "./ContactInfo.astro"
import OtherLinks from "./OtherLinks.astro"
import type { LanguageCode } from "../../i18n/utils"

interface Props {
	t: (key: string) => string
	languageCode: LanguageCode
}
const { t, languageCode } = Astro.props as Props

const phoneNumber = "+371 1234 1234"
---

<footer
	class="w-full bg-bg-default text-text-secondary"
	aria-label="Site footer"
>
	<hr class="mb-6 border-border-muted" />

	<div class="flex justify-center px-4">
		<div
			class="flex flex-col items-left justify-center md:items-center xl:max-w-11/12 w-full mx-auto gap-8 xl:flex-row xl:gap-12"
		>
			<div class="flex flex-col md:flex-row gap-8 xl:gap-12">
				<LocationInfo t={t} />
				<ContactInfo phoneNumber={phoneNumber} t={t} />
			</div>
			<div class="flex flex-col md:flex-row gap-8 xl:gap-12">
				<OtherLinks t={t} languageCode={languageCode} />
				<SocialLinks t={t} />
			</div>
		</div>
	</div>

	<div
		class="mt-6 text-center text-sm text-text-tertiary select-none space-y-2"
	>
		<div>&copy; 2025</div>
	</div>
</footer>
