---
import { type PackagesContainer } from "~/utils/types"

interface Props {
	pricePackagesContainer: PackagesContainer
}

const { pricePackagesContainer } = Astro.props as Props

const { title, ...packages } = pricePackagesContainer
---

<div>
	<h2 class="text-3xl font-bold mb-6">{title}</h2>

	{
		Object.entries(packages).map(([_, pkg]) => (
			<div class="mb-10">
				<h3 class=" mb-4">{pkg.title}</h3>
				<ul class="space-y-4">
					{pkg.services.map((service, _) => (
						<li class="flex flex-col sm:flex-row justify-start sm:justify-between items-start sm:items-center gap-4 sm:gap-8">
							<div class="flex-1 min-w-0 max-w-full">
								<p class="text-text-primary">{service.title}</p>
								{service.description && (
									<p class=" mt-1">{service.description}</p>
								)}
							</div>
						</li>
					))}
				</ul>
				<p class="mt-4 font-bold text-text-primary text-right">
					{pkg.price}
				</p>
			</div>
		))
	}
</div>
