---
import { defaultLanguageCode } from "~/locales"
import "../styles/global.css"
import type { LanguageCode } from "~/utils/translationHooks"
import CarScene from "~/components/CarScene.astro"
interface LayoutProps {
	languageCode?: LanguageCode
	title?: string
	description?: string
	keywords?: string
	noIndex?: boolean
}
const props = Astro.props as LayoutProps
const languageCode = props.languageCode ?? defaultLanguageCode
const { title, description, keywords, noIndex } = props
---

<html class="dark" lang={languageCode}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon_logo.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="Sertificēta Detailera Pakalpojumi" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<title>{title}</title>

		{noIndex && <meta name="robots" content="noindex" />}
		<slot name="head" />
	</head>

	<body class="min-h-screen bg-bg-default text-text-primary">
		<main>
			<slot />
		</main>
	</body>
</html>

<script is:inline>
	{
		/*We use inline to prevent flashing */
	}
	function getCookie(name) {
		const value = `; ${document.cookie}`
		const parts = value.split(`; ${name}=`)
		if (parts.length === 2) return parts.pop().split(";").shift()
		return null
	}
	const currentTheme = getCookie("theme")

	if (currentTheme === "light") {
		document.documentElement.classList.remove("dark")
	} else {
		document.documentElement.classList.add("dark")
	}
</script>

<script>
	import { HandleRedirectToPreferredLanguage } from "../scripts/HandleRedirectToPreferredLanguage"

	HandleRedirectToPreferredLanguage()
</script>
